/*basic nav bar structure*/
nav{
	box-shadow: -6px 5px 7px 0px @shadow-black;
	min-width:@nav-full-width;
	min-height:@nav-min-height;
	&.fixed-nav{
		position: fixed;
		top: 0;
	}
	&.light{
		background-color:@onyx-white;
		color:@onyx-black;
	}
	&.dark{
		background-color:@onyx-black;
		color:@onyx-white;
	}
	&.transparent{
		background-color: transparent;
		box-shadow: none;
	}
	.nav-logo{
		position: absolute;
		top:@nav-logo-pad/2;
		bottom:@nav-logo-pad/2;
		left:@base-padding;
		.logo-img{
			width:@nav-logo-width;
			height:@nav-logo-height;
			@media only screen and (max-width:@mobile-width) {
				width:@nav-logo-width - 10;
				height:@nav-logo-height - 10;
			}
		}
	}
	ul{
		list-style-type: none;
		margin: 0;
		float: right;
		clear: both;
		li{
			display: inline-block;
			line-height: @nav-min-height;
			margin: 0 @nav-li-margin;
			font-size: @nav-li-font-size;
			font-weight: bold;
		}
	}
	a{
		&:link,&:visited,&:hover,&:active{
			text-decoration: none;
			color:inherit;
			font-size: inherit;
		}
	}
}