@import url('colors.less');
@import url('variables.less');
/* Onyx Grid System */
/* containers */
.container,.fullscreen-container{
	width: @full-width;
	box-sizing: border-box;
}

.fullscreen-container{
	height: @full-screen-height;
	overflow: hidden;
}

/* rows */
.row{
	&::before,&::after{
		content: "";
		display: table;
		clear: both;
	}
}

/* Columns */
[class*='col-']{
	float: left;
	min-height: @col-min-height;
	word-wrap: break-word;
	overflow-x: hidden;
}
.col-1{
	width: @col-1-width;
}
.col-2{
	width: @col-2-width;
}
.col-3{
	width: @col-3-width;
}
.col-4{
	width: @col-4-width;
}
.col-5{
	width: @col-5-width;
}
.col-6{
	width: @col-6-width;
}
.col-7{
	width: @col-7-width;
}
.col-8{
	width: @col-8-width;
}

/* Colored Backgrounds */
.blue-bg{
	background-color: @onyx-blue;
}
.green-bg{
	background-color: @onyx-green;
}
.white-bg{
	background-color: @onyx-blue;
}
.black-bg{
	background-color: @onyx-black;
}
.yellow-bg{
	background-color: @onyx-yellow;
}


/*responsive image*/
img,video{
	&.responsive-media{
		max-width: 100%;
		height: auto;
	}
}

/*expandable cols*/
@media only screen and (max-width:@mobile-width) { //mobile layout
	.expand{
		&[class*='col-']{
			width:@col-8-width;
		}
	}
}
@media only screen and (min-width:@tablet-min-width)and (max-width:@tablet-max-width) { //tablet layout
	.expand{
		&[class*='col-']{
			width:@col-4-width;
		}
	}
}