@import url('colors.less');
@import url('variables.less');
/* Onyx Grid System */
/* containers */
.container,.fullscreen-container{
	width: @full-width;
	box-sizing: border-box;
}

.fullscreen-container{
	height: @full-screen-height;
	overflow: hidden;
}

/* rows */
.row{
	&::before,&::after{
		content: "";
		display: table;
		clear: both;
	}
}

/* Columns */
[class*='col-']{
	float: left;
	min-height: @col-min-height;
	margin-right: @gutter-width-lg;
	&:first-of-type{
		margin-left: @gutter-width-lg;
	}
}
.col-lg-1{
	width: calc((@full-width - ((@col-1-number+1)*@col-lg-gutter)) / @col-1-number);
}
.col-lg-2{
	width: calc((@full-width - ((@col-2-number+1)*@col-lg-gutter)) / @col-2-number);
}
.col-lg-3{
	width: calc((@full-width - ((@col-3-number+1)*@col-lg-gutter)) / @col-3-number);
}
.col-lg-4{
	width: calc((@full-width - ((@col-4-number+1)*@col-lg-gutter)) / @col-4-number);
}
.col-lg-5{
	width: calc((@full-width - ((@col-5-number+1)*@col-lg-gutter)) / @col-5-number);
}
.col-lg-6{
	width: calc((@full-width - ((@col-6-number+1)*@col-lg-gutter)) / @col-6-number);
}
.col-lg-7{
	width: calc((@full-width - ((@col-7-number+1)*@col-lg-gutter)) / @col-7-number);
}
.col-lg-8{
	width: calc((@full-width - ((@col-8-number+1)*@col-lg-gutter)) / @col-8-number);
}

/* Colored Backgrounds */
.blue-bg{
	background-color: @onyx-blue;
}
.green-bg{
	background-color: @onyx-green;
}
.white-bg{
	background-color: @onyx-blue;
}
.black-bg{
	background-color: @onyx-black;
}
.yellow-bg{
	background-color: @onyx-yellow;
}

/* Anchors */
a{
	text-decoration: none;
	color: @onyx-blue;
	&:hover, &:focus{
		text-decoration: underline;
	 	text-decoration-style: dotted;
	}
	&:active{
		color: lighten(@onyx-blue,20%);
	}
}