/* Base Font */
body{
	font-family: @base-font-family;
}

/* Base Txt Colors */
h1,h2,h3,h4,h5,h6,p{
	color: @onyx-black;
}

/* Heading Styles */
h1{
	font-size: @h1-font-size;
}
h2{
	font-size: @h2-font-size;
}
h3{
	font-size: @h3-font-size;
}
h4{
	font-size: @h4-font-size;
}
h5{
	font-size: @h5-font-size;
}
h6{
	font-size: @h6-font-size;
}

@media only screen and (max-width: @tablet-max-width){
	h1{
		font-size: @h1-tab-font;
	}
	h2{
		font-size: @h2-tab-font;
	}
	h3{
		font-size: @h3-tab-font;
	}
	h4{
		font-size: @h4-tab-font;
	}
	h5{
		font-size: @h5-tab-font;
	}
	h6{
		font-size: @h6-tab-font;
	}
}
@media only screen and (max-width:@mobile-width) {
	h1{
		font-size: @h1-mobile-font;
	}
	h2{
		font-size: @h2-mobile-font;
	}
	h3{
		font-size: @h3-mobile-font;
	}
	h4{
		font-size: @h4-mobile-font;
	}
	h5{
		font-size: @h5-mobile-font;
	}
	h6{
		font-size: @h6-mobile-font;
	}
}

/* para styles */
body,p{
	font-size: @base-font-size;
}
p{
	&.news-print{
		&::first-letter{
			font-weight: bold;
			font-size: @base-font-size * 2;
			padding-left: @base-padding * 2;
		}
	}
}

/* Txt Alignments */
.center-text{
	text-align: center;
}
.justify-text{
	text-align: justify;
}
.right-text{
	text-align: right;
}
.left-text{
	text-align: left;
}

/* Anchors */
a{
	&:link{
		text-decoration: none;
		color: @onyx-blue;
		text-decoration: underline;
	 	text-decoration-style: dotted;
	 	cursor: pointer;
	}
	&:visited{
		color: lighten(@onyx-blue,22%)
	}
	&:hover, &:focus{
		color: darken(@onyx-blue,10%)
	}
	&:active{
		color: lighten(@onyx-blue,20%);
	}
}