/* lg col numbers */
@col-1-number: 1;
@col-2-number: 2;
@col-3-number: 3;
@col-4-number: 4;
@col-5-number: 5;
@col-6-number: 6;
@col-7-number: 7;
@col-8-number: 8;
@col-gutter: 2;

/* widths */
@col-min-height: 1px;
@full-screen-height: 100vh;
@full-width: 100%;
@gutter-width-lg: 2%;
