/* column widths */
@col-1-width: 12.5%;
@col-2-width: 25%;
@col-3-width: 37.5%;
@col-4-width: 50%;
@col-5-width: 62.5%;
@col-6-width: 75%;
@col-7-width: 87.5%;
@col-8-width: 100%;

/* widths */
@col-min-height: 1px;
@full-screen-height: 100vh;
@full-width: 100%;
@gutter-width: 2%;
