/* column widths */
@col-1-width: 12.5%;
@col-2-width: 25%;
@col-3-width: 37.5%;
@col-4-width: 50%;
@col-5-width: 62.5%;
@col-6-width: 75%;
@col-7-width: 87.5%;
@col-8-width: 100%;

/* other widths */
@col-min-height: 1px;
@full-screen-height: 100vh;
@full-width: 100%;
@gutter-width: 2%;
@nav-full-width: @full-width;
@nav-logo-width: 130px;

/*heights*/
@nav-min-height: 80px;
@nav-logo-height: 75px;

/* fonts */
@base-font-family: 'sans-serif';

/*padding*/
@base-padding: 8px;

/*font-sizes*/
@base-font-size: 14px;
@min-increment: 2;
@max-increment: 8;
@h6-font-size: @base-font-size + @min-increment;
@h5-font-size: @h6-font-size + @max-increment;
@h4-font-size: @h5-font-size + @max-increment;
@h3-font-size: @h4-font-size + @max-increment;
@h2-font-size: @h3-font-size + @max-increment;
@h1-font-size: @h2-font-size + @max-increment;

/*break points*/
@mobile-width: unit(480,px);
@tablet-max-width: unit(767,px);
@tablet-min-width: unit(481,px);

/*miscellanious*/
@nav-logo-pad: 5px;
@nav-li-margin: 8px;
@nav-li-font-size: 1.2em;
@nav-btn-dimension: 32px;
@ham-height: @nav-btn-dimension/10;
@ham-width: 30px;